.headernews{
    z-index: 999;
    overflow: hidden;
    background-color: #ffff;
    position: fixed;
    top:0;
    width: 100%;
    font-weight: bolder;
    font-family: Garamond;
}
.logo{
    width: 100px;
    height: 30px;
}